.App {
  text-align: center;
}

body {
  font-family: "Sono", sans-serif;
  background: #AAD3C5;
  margin: 0;
  padding: 0;
}

h1 {
  color: #44928C;
  text-align: center;
  margin: 20px;
  font-size: 80pt;
  font-weight: normal;
}

h2 {
  transition: all 0.2s ease;
  font-size: 18pt;
  font-weight: 550;
}
h2:hover {
  color: #24936E;
  font-size: 19pt;
  font-weight: 650;
  /* transition: all 0.2s ease; */
}

.inputText {
  font-family: "Sono", sans-serif;
}
.post-card {
  background: #FEF0DB;
  color: #C86A60;
  padding: 18px;
  margin: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.post-card:hover {
  transform: scale(1.015);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  background: #FEF0DB;
  cursor: pointer;
}

.post-card-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.post-card-top p {
  font-size: 17px;
  transition: 0.2s;
}

/*url hover*/
.post-card-top p:hover{
  color: #24936E;
  cursor: pointer;
  transition: all 0.2s ease;
}

.post-card-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.post-card-bottom #post-comments:hover {
  color: #24936E;
  cursor: pointer;
  transition: 0.2s;
}

.post-card-bottom #post-author:hover {
  color: #24936E;
  cursor: pointer;
  transition: 0.2s;
}


/* 
.post-card h2::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

.post-card:hover h2::after {
  width: 100%;
} */

#search-bar {
  margin: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #D68D5F;
  color: #1b5651;
  transition: 0.2s;
  width: 900px;
  height: 23px;
  outline: none;
}

#search-bar:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  background: #FDB35A;
  cursor: pointer;
  transition: 0.2s;
}

#submit-search {
  background: #D68D5F;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

#submit-search:hover {
  background: #0056b3;
  transition: 0.2s;
}

mark {
  background-color: yellow !important;
  color: black !important;
}

.search-form {
  
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1b5651;
  padding: 20px;
  gap: 20px;
}

.search-form input {
  background-color: #222021;
  color: #1b5651;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
  outline: none;
}

.search-form input:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  background: #363636;
  cursor: pointer;
  transition: 0.2s;
}

.search-form button {
  background: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.search-form button:hover {
  background: #0056b3;
  transition: 0.2s;
}

.for-search {
  font-family: "Sono", sans-serif;
}

.targeted-search {
  font-family: "Sono", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background: #D68D5F;
  color: #1b5651;
  transition: 0.2s;
  width: 140px;
  height: 35px;
  outline: none;
  gap: 10px;
  padding: 10px;
}


.targeted-search:hover {
  font-family: "Sono", sans-serif;
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  background: #FDB35A;
  cursor: pointer;
  transition: 0.2s;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.post:hover {
  animation: pulse 1s infinite;
}
